@model PRG_4_PROJEK.Models.KaryawanModel
@{
    ViewData["Title"] = "Halaman";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="~/content/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/content/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/content/css/style.css">
    <link rel="shortcut icon" href="~/content/images/favicon.png" />
    <!-- Pastikan Anda sudah menyertakan pustaka Swal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        body {
            background-image: url('content/images/IMG_Background.jpg');
            background-size: 100%;
        }

        footer {
            background-color: #ffffff; /* Warna latar belakang footer */
            padding: 10px;
            padding-left: 30px;
            text-align: left;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

    </style>
</head>

<body>

    <section class="section">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                    <div class="row flex-grow">
                        <div class="col-lg-6 offset-lg-3 d-flex align-items-center justify-content-center">
                            <div class="auth-form-transparent text-left p-3">
                                <div class="text-center">
                                    <img src="~/content/images/IMG_Logo.png" alt="Logo" style="width: 100%; margin-bottom: 10px; margin-top: 10px">
                                </div>
                                <form method="post" action="Login/Login">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="mdi mdi-account-outline text-primary"></i>
                                                </span>
                                            </div>
                                            <input asp-for="npk" class="form-control form-control-lg border-left-0" placeholder="NPK"  />
                                        </div>
                                        <span asp-validation-for="npk" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="mdi mdi-key-outline text-primary"></i>
                                                </span>
                                            </div>
                                            <input asp-for="password" class="form-control form-control-lg border-left-0" type="password" id="passwordInput" placeholder="Password" />
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-light border-left-0">
                                                    <i id="togglePassword" class="mdi mdi-eye-outline text-primary"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>

                                    <br>
                                    <br>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Masuk</button>
                                    </div>
                                    <br>
                                    <div class="col-12">
                                        <a asp-controller="DashboardUtama" asp-action="Index" class="link-primary w-100">Kembali ke halaman utama?</a>
                                    </div>
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        @if (TempData["Script"] != null)
                                        {
                                            @(Html.Raw(TempData["Script"]))
                                        }

                                        TempData["ErrorMessage"] = null;
                                        TempData["Script"] = null;

                                    }

                                </form>
                            </div>
                        </div>
                        <footer>
                            <p class="text-black font-weight-medium text-right flex-grow align-self-end">
                                Hak Cipta &copy; 2023 Semua hak dilindungi.
                            </p>
                        </footer>

                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.getElementById('passwordInput');
            const togglePassword = document.getElementById('togglePassword');

            togglePassword.addEventListener('click', function () {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                // Ubah ikon berdasarkan status password
                togglePassword.classList.toggle('mdi-eye-outline', type === 'password');
                togglePassword.classList.toggle('mdi-eye-off-outline', type === 'text');
            });
        });

    </script>
    <script src="~/content/vendors/base/vendor.bundle.base.js"></script>
    <script src="~/content/js/template.js"></script>
    <!-- endinject -->
    <a href="d:\projek prg 4\prg-4-projek\prg-4-projek\views\login\index.cshtml">d:\projek prg 4\prg-4-projek\prg-4-projek\views\login\index.cshtml</a>- Custom js for this page-->
    <!-- End custom js for this page-->

</body>

</html>