@{
    ViewData["Title"] = "Halaman";
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-inner {
        width: 48%; /* Adjust width as needed */
        margin-right: 2%; /* Adjust margin as needed */
        margin-bottom: 15px; /* Adjust margin as needed */
    }

    #text-2556567540 {
        color: rgb(161, 161, 161);
    }

        #text-2556567540 > * {
            color: rgb(161, 161, 161);
        }

    #text-1612528874 {
        font-size: 1.1rem;
        color: rgb(0, 92, 169);
    }

        #text-1612528874 > * {
            color: rgb(0, 92, 169);
        }

    #text-3377782281 {
        font-size: 0.9rem;
        color: rgb(195, 195, 195);
    }

        #text-3377782281 > * {
            color: rgb(195, 195, 195);
        }

    #text-368662847 {
        color: rgb(20, 52, 91);
    }

        #text-368662847 > * {
            color: rgb(20, 52, 91);
        }

    #text-2006116577 {
        font-size: 0.9rem;
        color: rgb(195, 195, 195);
    }

        #text-2006116577 > * {
            color: rgb(195, 195, 195);
        }

    #text-521410333 {
        color: rgb(20, 52, 91);
    }

        #text-521410333 > * {
            color: rgb(20, 52, 91);
        }

    #text-4268493740 {
        font-size: 0.9rem;
        color: rgb(195, 195, 195);
    }

        #text-4268493740 > * {
            color: rgb(195, 195, 195);
        }

    #text-1863943754 {
        color: rgb(20, 52, 91);
    }

        #text-1863943754 > * {
            color: rgb(20, 52, 91);
        }

    #text-1147937576 {
        font-size: 1.1rem;
        color: rgb(20, 52, 91);
    }

        #text-1147937576 > * {
            color: rgb(20, 52, 91);
        }

    #text-922698113 {
        font-size: 1.1rem;
        text-align: center;
        color: rgb(20, 52, 91);
    }

        #text-922698113 > * {
            color: rgb(20, 52, 91);
        }

    #text-1743526974 {
        text-align: center;
        color: rgb(20, 52, 91);
    }

        #text-1743526974 > * {
            color: rgb(20, 52, 91);
        }

    #text-1871408195 {
        color: rgb(20, 52, 91);
    }

        #text-1871408195 > * {
            color: rgb(20, 52, 91);
        }

    #text-296934490 {
        font-size: 1.1rem;
        color: rgb(20, 52, 91);
    }

        #text-296934490 > * {
            color: rgb(20, 52, 91);
        }

    #text-3684940771 {
        color: rgb(20, 52, 91);
    }

        #text-3684940771 > * {
            color: rgb(20, 52, 91);
        }
</style>
<div id="text-2556567540" class="text">
    <p class="font-jakarta" style="margin-bottom: 0">SARJANA TERAPAN</p>
</div>

<div id="text-1612528874" class="text">
    <h3>Teknologi Rekayasa Logistik</h3>
</div>
<div class="row">
    <div class="col-inner">
        <div id="text-3377782281" class="text">
            <p style="margin-bottom:0">Nama Prodi</p>
        </div>

        <div id="text-368662847" class="text">
            <p class="font-jakarta">Teknologi Rekayasa Logistik</p>
        </div>
    </div>

    <div class="col-inner">
        <div id="text-2006116577" class="text">
            <p style="margin-bottom: 0">Singkatan Prodi</p>
        </div>

        <div id="text-521410333" class="text">
            <p class="font-jakarta">TRL</p>
        </div>
    </div>

    <div class="col-inner">
        <div id="text-4268493740" class="text">
            <p style="margin-bottom: 0">SK Pendirian</p>
        </div>

        <div id="text-1863943754" class="text">
            <p class="font-jakarta">Kepmendikbudristek No. 55/D/OT/2023</p>
        </div>
    </div>

    <div class="col-inner">
        <div id="text-4268493740" class="text">
            <p style="margin-bottom: 0">Akreditasi Prodi</p>
        </div>

        <div id="text-1863943754" class="text">
            <p class="font-jakarta">Sedang</p>
        </div>
    </div>
</div>


