@{
    Layout = "_LayoutMahasiswa";
    ViewData["Title"] = "Halaman";
}

<style>
   
    .card {
        width: 360px;
        height: 200px;
    }

    .card-text {
        font-size:40px;
    }
</style>

<body>
    @{
        var httpContext = ViewContext.HttpContext;
    }
    <div class="container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jam Plus</h5>
                        <div style="display: flex; align-items: center;">
                            <img src="~/content2/assets/images/icons8-clock-40.png" class="card-img-top" alt="Jam Plus Image" style="width: 60px; margin-right: 10px;">
                            <p class="card-text"><strong>@httpContext.Session.GetString("JP") </strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jam Plus</h5>
                        <div style="display: flex; align-items: center;">
                            <img src="~/content2/assets/images/icons8-clock-40 (1).png" class="card-img-top" alt="Jam Plus Image" style="width: 60px; margin-right: 10px;">
                            <p class="card-text"><strong>@httpContext.Session.GetString("JM") </strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jam Plus</h5>
                        <div style="display: flex; align-items: center;">
                            <img src="~/content2/assets/images/icons8-settings-40.png" class="card-img-top" alt="Jam Plus Image" style="width: 60px; margin-right: 10px;">
                            <p class="card-text"><strong>0 </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
