@model PRG_4_PROJEK.Models.MahasiswaModel
@{
    ViewData["Title"] = "Halaman";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Mahasiswa</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="~/content2/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/content2/assets/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/content2/assets/css/templatemo-ebook-landing.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
  /*   #hidden-container {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    } */

        .navbar {
            background-color: rgba(0, 0, 0, 0.7);
        }

</style>

</head>
<body>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="clock-container text-left mb-4" style="position: absolute; top: 30px; left: 60px; color:white;">
                    <span id="clock"></span><br>
                    <span id="date"></span>
                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto me-lg-4">
                    </ul>
                    <div class="d-none d-lg-block">
                        <a class="nav-link collapsed" asp-controller="DashboardUtama" asp-action="Index">
                            <div class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                                <i class="btn-icon bi bi-box-arrow-left"></i>
                                <span>Kembali</span>
                            </div>
                        </a>
                    </div>
                </div>
                <form method="post" action="LoginMahasiswa/LoginMahasiswa">
                    <div class="col-12 text-left mb-4">
                        <div class="col-12">
                            <div id="hidden-container">
                                <input asp-for="rfid" id="rfidInput" class="form-control form-control-lg border-left-0" autocomplete="on" required />
                            </div>
                            <span asp-validation-for="rfid" class="text-danger"></span>
                        </div>
                        <br>

                        @if (TempData["ErrorMessage"] != null)
                        {
                            @if (TempData["Script"] != null)
                            {
                                @(Html.Raw(TempData["Script"]))
                            }

                            TempData["ErrorMessage"] = null;
                            TempData["Script"] = null;
                        }
                     
                        </div>
                </form>

            </div>
        </nav>


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-5 pb-5 pb-lg-0 mb-lg-0">

                        <h6>Selamat Datang Di</h6>

                        <h1 class="text-white mb-4">Sistem Informasi Student Journey</h1>


                        <div class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                            <i class="btn-icon bi bi-door-open"></i>
                            <span>Scan ID Card anda!</span>
                        </div>

                    </div>

                    <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
                        <img src="~/content2/assets/images/Teknik Rekayasa logistik (2).png" class="hero-image img-fluid" alt="education online books">
                    </div>

                </div>
            </div>
        </section>


        <section class="featured-section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12">
                        <div class="avatar-group d-flex flex-wrap align-items-center">
                            "Tempelkan Kartu Anda Pada Scan Card Atau <br />Mesin Yang sudah disediakan."
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="py-lg-5"></section>


    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/content2/assets/js/jquery.min.js"></script>
    <script src="~/content2/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/content2/assets/js/jquery.sticky.js"></script>
    <script src="~/content2/assets/js/click-scroll.js"></script>
    <script src="~/content2/assets/js/custom.js"></script>

    <script>
            // Put this script at the end of your HTML body or use window.onload event
            document.addEventListener("DOMContentLoaded", function () {
                // Get the input element by its ID
                var rfidInput = document.getElementById("rfidInput");

                // Set focus to the input element
                rfidInput.focus();
            });
        function updateClock() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            var day = now.getDate();
            var month = now.getMonth() + 1;
            var year = now.getFullYear();

            document.getElementById('clock').innerHTML = addZero(hours) + ':' + addZero(minutes) + ':' + addZero(seconds);
            document.getElementById('date').innerHTML = addZero(day) + '/' + addZero(month) + '/' + year;

            setTimeout(updateClock, 1000);
        }

        function addZero(value) {
            return value < 10 ? '0' + value : value;
        }

        updateClock(); // Call the function to display the clock initially
    </script>
</body>
</html>